<%= content_for :page_title do %>
  <h1 class="mb-0">Dashboard#index</h1>
<% end %>

<p>Find me in app/views/dashboard/index.html.erb</p>

<%= @account.name %>

<br>

<%= link_to "Members", account_members_path(@account) %>
