<% content_for :title, "Editing inivitation" %>

<h1>Editing inivitation</h1>

<%= render "form", inivitation: @inivitation %>

<br>

<div>
  <%= link_to "Show this inivitation", @inivitation %> |
  <%= link_to "Back to inivitations", inivitations_path %>
</div>
