<p style="color: green"><%= notice %></p>

<% content_for :title, "Inivitations" %>

<h1>Inivitations</h1>

<div id="inivitations">
  <% @inivitations.each do |inivitation| %>
    <%= render inivitation %>
    <p>
      <%= link_to "Show this inivitation", inivitation %>
    </p>
  <% end %>
</div>

<%= link_to "New inivitation", new_inivitation_path %>
