<ol class="breadcrumb" aria-label="Breadcrumb">
  <% @breadcrumbs.each do |breadcrumb| %>
    <li class="breadcrumb-item <%= 'active' if breadcrumb[:path].empty? %>">
      <% if breadcrumb[:path].nil? %>
        <%= breadcrumb[:label] %>
      <% else %>
        <%= link_to breadcrumb[:label], breadcrumb[:path] %>
      <% end %>
    </li>
  <% end %>
</ol>
