<aside class="navbar navbar-vertical navbar-expand-sm position-absolute">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <h1 class="navbar-brand navbar-brand-autodark">
      <a href="#">StarterKit</a>
    </h1>

    <div class="collapse navbar-collapse" id="sidebar-menu">
      <ul class="navbar-nav pt-lg-3">
        <li class="nav-item">
          <%= link_to root_path, class: "nav-link" do %>
            <span class="nav-link-icon">
              <i class="ti ti-home me-1 fs-2"></i>
            </span>
            <span class="nav-link-title">Home</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to account_dashboard_path(current_account), class: "nav-link" do %>
            <span class="nav-link-icon">
              <i class="ti ti-calendar-search me-1 fs-2"></i>
            </span>
            <span class="nav-link-title">Dashboard</span>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="bottom-0 p-2"><%= render "shared/account_selector" %></div>
  </div>
</aside>
