<% content_for :title, "Editing invitation" %>

<%= content_for :page_title do %>
  <h1>Editing invitation</h1>
<% end %>

<%= render "form", invitation: @invitation, account: @account %>

<br>

<%= content_for :page_actions do %>
  <%= link_to "Show this invitation", [@account, @invitation], class: "btn btn-primary" %>
<% end %>
