<% content_for :title, "Editing invitation" %>

<h1>Editing invitation</h1>

<%= render "form", invitation: @invitation, account: @account %>

<br>

<div>
  <%= link_to "Show this invitation", [@account, @invitation] %>
  |
  <%= link_to "Back to invitations", account_invitations_path %>
</div>
