<% content_for :title, "New invitation" %>

<h1>New invitation</h1>

<%= render "form", invitation: @invitation, account: @account %>

<br>

<div><%= link_to "Back to invitations", account_invitations_path %></div>
