<% content_for :title, "Invitation Details" %>

<% content_for :page_title do %>
  <h1 class="mb-0">Invitation Details</h1>
<% end %>

<% content_for :page_subtitle do %>
  <span>Invitation for <%= @invitation.receiver %></span>
<% end %>

<% content_for :page_actions do %>
  <%= link_to edit_account_invitation_path(@account, @invitation), class: "btn btn-primary" do %>
    <span class="ti ti-pencil me-2"></span>
    <span>Edit invitation</span>
  <% end %>

  <%= button_to account_invitation_path(@account, @invitation), method: :delete, class: "btn btn-danger ms-2" do %>
    <span class="ti ti-trash me-2"></span>
    <span>Delete invitation</span>
  <% end %>
<% end %>

<%= render @invitation %>
