<header class="navbar navbar-expand-md d-print-none">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-menu"
      aria-controls="navbar-menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= render "shared/breadcrumbs" %>

    <div class="navbar-nav flex-row order-md-last ms-auto">
      <li class="nav-item">
        <div data-controller="theme">
          <button data-action="click->theme#toggle" class="nav-link">
            <i data-theme-target="icon" class="ti ti-sun"></i>
          </button>
        </div>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <div class="dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
            >
              <i class="ti ti-user me-1 fs-2"></i>
              <span class="nav-link-title"><%= current_user.username %></span>
            </a>
            <div class="dropdown-menu">
              <div>
                <%= link_to session_path, data: { turbo_method: :delete }, class: "nav-link" do %>
                  <span class="nav-link-icon">
                    <i class="ti ti-login me-1 fs-2"></i>
                  </span>
                  <span class="nav-link-title">Logout</span>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <%= link_to new_session_path, class: "nav-link" do %>
            <span class="nav-link-icon">
              <i class="ti ti-login-2 me-1 fs-2"></i>
            </span>
            <span class="nav-link-title">Login</span>
          <% end %>
        <% end %>
      </li>
    </div>
  </div>
</header>
