<% content_for :title, "Members" %>

<% content_for :page_title do %>
  <h1 class="mb-0"><%= @account.name %></h1>
<% end %>

<% content_for :page_subtitle do %>
  <span>Members</span>
<% end %>

<br>

<div>
  <table class="table">
    <thead class="sticky-top">
      <tr>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td>
            <%= link_to member.username, account_member_path(@account, member) %>
          </td>
          <td><%= account_user(@account, member).role.titleize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
