<div id="<%= dom_id account %>">
  <div>
    <strong>Name:</strong>
    <%= account.name %>
  </div>

  <div>
    <strong>Slug:</strong>
    <%= account.slug %>
  </div>

  <div>
    <strong>Owner:</strong>
    <%= account.owner_id %>
  </div>

</div>
